[submodule "example/public/submodules/elm-spa-example"]
	path = example/public/submodules/elm-spa-example
	url = ../elm-spa-example.git
[submodule "example/public/submodules/codebase-ui"]
	path = example/public/submodules/codebase-ui
	url = ../codebase-ui.git
[submodule "example/public/submodules/concourse"]
	path = example/public/submodules/concourse
	url = ../concourse.git
[submodule "example/public/submodules/kite"]
	path = example/public/submodules/kite
	url = ../kite.git
[submodule "example/public/submodules/azimutt"]
	path = example/public/submodules/azimutt
	url = ../azimutt.git
[submodule "example/public/submodules/seeds-game"]
	path = example/public/submodules/seeds-game
	url = ../seeds-game.git
