[submodule "example/public/submodules/elm-spa-example"]
	path = example/public/submodules/elm-spa-example
	url = git@github.com:lydell/elm-spa-example.git
[submodule "example/public/submodules/codebase-ui"]
	path = example/public/submodules/codebase-ui
	url = git@github.com:lydell/codebase-ui.git
[submodule "example/public/submodules/concourse"]
	path = example/public/submodules/concourse
	url = git@github.com:lydell/concourse.git
